[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
OnlyShowIn=XFCE;
#NotShowIn=
NoDisplay=false
Hidden=false

Name=About Xfce
Comment=Information about the Xfce Desktop Environment
GenericName=Info - About Xfce

Icon=org.xfce.about
Exec=xfce4-about
TryExec=xfce4-about
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-info;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=About Xfce
GenericName[ru]=Информация - About Xfce
Comment[ar]=معلمومات حول بيئة سطح المكتب إكسفس
Comment[ast]=Información tocante al entornu d'escritoriu Xfce
Comment[az]=Xfce İş qoyağı Ortamı ilə bağlı bilgi
Comment[be]=Звесткі пра працоўнае асяроддзе Xfce
Comment[bg]=Сведения за работната среда Xfce
Comment[ca]=Informació quant a l'entorn d'escriptori Xfce
Comment[cs]=Informace o pracovním prostředí Xfce
Comment[cy]=Gwybodaeth am yr Amgylchedd Penfwrdd Xfce
Comment[da]=Information om Xfce-skrivebordsmiljøet
Comment[de]=Informationen über die Xfce-Arbeitsumgebung
Comment[el]=Πληροφορίες σχετικά με το περιβάλλον εργασίας Xfce
Comment[en_AU]=Information about the Xfce Desktop Environment
Comment[en_GB]=Information about the Xfce Desktop Environment
Comment[es]=Información acerca del entorno de escritorio Xfce
Comment[et]=Teave Xfce töölauakeskkonna kohta
Comment[eu]=Xfce mahaigain inguruneari buruzko argibideak
Comment[fi]=Tietoja Xfce-työpöytäympäristöstä
Comment[fr]=Informations à propos de l’environnement de bureau Xfce
Comment[gl]=Información sobre o contorno de escritorio Xfce
Comment[he]=מידע אודות סביבת שולחן עבודה Xfce
Comment[hr]=Informacije o Xfce radnom okruženju
Comment[hu]=Információk az Xfce asztali környezetről
Comment[hy]=Տեղեկույթ Xfce աշխատասեղանի միջավայրի մասին
Comment[hy_AM]=Տեղեկոյթ Xfce աշխատասեղանի միջավայրի մասին
Comment[hye]=Տեղեկոյթ Xfce աշխատասեղանի միջավայրի մասին
Comment[id]=Informasi tentang Lingkungan Desktop Xfce
Comment[ie]=Information pri li ambientie Xfce
Comment[is]=Upplýsingar um Xfce skjáborðsumhverfið
Comment[it]=Informazioni sull'ambiente grafico Xfce
Comment[ja]=Xfce デスクトップ環境に関する情報です
Comment[kk]=Xfce жұмыс үстел ортасы туралы ақпарат
Comment[ko]=Xfce 데스크톱 환경 정보
Comment[lt]=Informacija apie Xfce darbalaukio aplinką
Comment[ms]=Maklumat tentang Persekitaran Desktop Xfce
Comment[nb]=Informasjon om Xfce-skrivebordsmiljøet
Comment[nl]=Inlichtingen over de Xfce-werkomgeving
Comment[nn]=Opplysingar om skrivebordsmiljøet Xfce
Comment[oc]=Informacion a prepaus de l'environament de burèu Xfce
Comment[pl]=Wyświetla informacje o środowisku graficznym Xfce
Comment[pt]=Informações do ambiente de trabalho Xfce
Comment[pt_BR]=Informação sobre o Ambiente de área de trabalho Xfce
Comment[ro]=Detalii despre mediul desktop Xfce
Comment[ru]=Сведения об окружении Xfce
Comment[sk]=Informácie o pracovnom prostredí Xfce
Comment[sl]=Podatki o Xfce namiznem okolju
Comment[sq]=Të dhëna të përgjithshme mbi Mjedisin Desktop Xfce
Comment[sr]=Подаци о радном окружењу Иксфце-а
Comment[sv]=Information om skrivbordsmiljön Xfce
Comment[te]=Xfce డెస్క్‍టాప్ పర్యావరణం గురించిన సమాచారం
Comment[th]=ข้อมูลเกี่ยวกับเดสก์ท็อป Xfce
Comment[tr]=Xfce Masaüstü Ortamı ile ilgili bilgi
Comment[ug]=مەزكۇر Xfce ئۈستەلئۈستى مۇھىتى ھەققىدە ئۇچۇر
Comment[uk]=Інформація про середовище стільниці Xfce
Comment[vi]=Thông tin về môi trường màn hình Xfce
Comment[zh_CN]=有关 Xfce 桌面环境的信息
Comment[zh_HK]=有關 Xfce 桌面環境的資訊
Comment[zh_TW]=有關 Xfce 桌面環境的資訊
