[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=- Package Installer (DEB)
Comment=Install downloaded deb packages
GenericName=

Icon=deb-installer
Exec=deb-installer %F
TryExec=deb-installer
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chixset-updates;
#Keywords=
MimeType=application/x-deb;application/vnd.debian.binary-package;

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=- Установщик Пакетов (DEB)
Comment[ca]=Instal·la paquets deb descarregats
Comment[cs]=Instalace stažených DEB balíků
Comment[de]=Heruntergeladene deb-Pakete installieren
Comment[el]=Εγκατάσταση ληφθέντων πακέτων deb
Comment[es]=Instalar los paquetes deb descargados
Comment[es_ES]=Instalar los paquetes deb descargados
Comment[fi]=Asenna ladatut deb -paketit
Comment[fr]=Installation des paquets deb téléchargés
Comment[fr_BE]=Installation des paquets deb téléchargés
Comment[he_IL]=התקנת חבילות Deb שירדו מהאינטרנט
Comment[hu]=Letöltött deb csomagok telepítése
Comment[it]=Installa i pacchetti deb scaricati
Comment[ja]=ダウンロードした deb パッケージをインストールします
Comment[nb]=Installer nedlastede deb-pakker
Comment[nl]=Installeer gedownloade deb pakketten
Comment[pl]=Zainstaluj pobrane pakiety deb
Comment[pt]=Instalar pacotes deb descarregados
Comment[pt_BR]=Instala programas aplicativos/aplicações que possuem arquivos com a extensão .deb com o Debinstaller
Comment[ru]=Установить скачанные пакеты DEB
Comment[sl]=Namestitev prenešenih deb paketov
Comment[sq]=Instaloni paketa deb të shkarkuara
Comment[sv]=Installera nedladdade deb paket
Comment[tr]=İndirilmiş deb paketlerini yükle
