[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=- Repo Manager
Comment=Choose the default APT repo
GenericName=

Icon=mx-repo-manager
Exec=mxrm-launcher
TryExec=mxrm-launcher
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chixset-updates;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=- Менеджер Репозиториев
Comment[am]=Choose the default APT repo
Comment[ar]=Choose the default APT repo
Comment[bg]=Choose the default APT repo
Comment[ca]=Selecciona el dipòsit APT per omissió
Comment[cs]=Vyberte si z předvolených repozitářů APT
Comment[da]=Vælg standard APT-softwarekilden
Comment[de]=Auswahl der Standard-APT-Paketquellen
Comment[el]=Επιλογή αποθετηρίων APT
Comment[es]=Elija el repositorio APT predeterminado
Comment[es_ES]=Elija el repositorio APT predeterminado
Comment[et]=Choose the default APT repo
Comment[eu]=Choose the default APT repo
Comment[fa]=Choose the default APT repo
Comment[fi]=Choose the default APT repo
Comment[fr]=Choisir le dépôt APT par défaut
Comment[fr_BE]=Choisir le dépôt APT par défaut
Comment[he_IL]=בחירת מאגר APT כברירת המחדל
Comment[hi]=Choose the default APT repo
Comment[hr]=Choose the default APT repo
Comment[hu]=Az alapértelmezett APT tároló kiválasztása
Comment[id]=Choose the default APT repo
Comment[is]=Choose the default APT repo
Comment[it]=Scegli il repository di APT predefinito
Comment[ja]=通常使用する APT リポジトリを選択します
Comment[kk]=Choose the default APT repo
Comment[ko]=Choose the default APT repo
Comment[lt]=Pasirinkti numatytąją APT saugyklą
Comment[mk]=Choose the default APT repo
Comment[mr]=Choose the default APT repo
Comment[nb]=Velg standard apt-pakkearkiv
Comment[nl]=Kies de standaard APT pakketbron
Comment[nl_BE]=Kies de standaard APT repo
Comment[pl]=Wybierz domyślne repozytorium APT
Comment[pt]=Pré-definir o repositório APT a usar [mx-repo-manager]
Comment[pt_BR]=Escolha o repositório a ser utilizado como padrão com o MX Repo Manager
Comment[ro]=Choose the default APT repo
Comment[ru]=Выбор репозитория по умолчанию
Comment[sk]=Vyberte si z predvolených APT repozitárov
Comment[sl]=Izberi privzeti APT repozitorij
Comment[sq]=Zgjidhni depo parazgjedhje APT
Comment[sr]=Choose the default APT repo
Comment[sv]=Välj standard APT förråd
Comment[tr]=Varsayılan APT deposunu seç
Comment[uk]=Choose the default APT repo
Comment[zh_CN]=Choose the default APT repo
Comment[zh_TW]=選擇預設的 APT 倉庫
