[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=DupeGuru
Comment=Find duplicate files.
GenericName=DupeGuru

Icon=dupeguru
Exec=dupeguru
TryExec=dupeguru
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-tools;
Keywords=storage;space;cleanup;
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
#Name[ru]=
Comment[ru]=Поиск дубликатов.

