[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Format USB Drive - FormatUSB
Comment=Format USB devices
GenericName=Format USB

Icon=formatusb
Exec=formatusb
TryExec=formatusb
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-tools;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Форматировать USB Накопитель - FormatUSB
Comment[af]=Formateer USB-toestelle
Comment[be]=Фарматаванне USB-прылад
Comment[bn]=USB ডিভাইস ফরম্যাট করুন
Comment[bs]=Formatirajte USB uređaje
Comment[ca]=Formata dispositius USB
Comment[ceb]=I-format ang mga USB device
Comment[co]=Formate i dispositi USB
Comment[cs]=Formátovat USB zařízení
Comment[cy]=Fformat dyfeisiau USB
Comment[da]=Formatér USB-enheder
Comment[de]=USB-Laufwerke formatieren
Comment[el]=Διαμορφώστε τις συσκευές USB
Comment[eo]=Formatu USB-aparatojn
Comment[es]=Formatea dispositivos USB
Comment[es_ES]=Formatea dispositivos USB
Comment[fi]=Alusta USB-laitteita
Comment[fil]=I-format ang mga USB device
Comment[fr]=Formatage de périphériques USB
Comment[fr_BE]=Formatage de périphériques USB
Comment[fy]=Formatearje USB-apparaten
Comment[ga]=Feistí USB formáid
Comment[gd]=Innealan USB cruth
Comment[gl]=Formatear dispositivos USB
Comment[gu]=યુએસબી ઉપકરણોને ફોર્મેટ કરો
Comment[ha]=Tsara na'urorin USB
Comment[haw]=Hōʻano i nā polokalamu USB
Comment[he]=USB ינקתה טמרפ
Comment[hi]=यूएसबी उपकरण फॉर्मेट करें
Comment[ht]=Fòma aparèy USB yo
Comment[hy]=Ձևաչափեք USB սարքերը
Comment[it]=Formattazione di dispositivi USB
Comment[ja]=USB デバイスのフォーマット
Comment[jv]=Format piranti USB
Comment[ka]=USB მოწყობილობების ფორმატირება
Comment[km]=ធ្វើទ្រង់ទ្រាយឧបករណ៍ USB
Comment[kn]=USB ಸಾಧನಗಳನ್ನು ಫಾರ್ಮ್ಯಾಟ್ ಮಾಡಿ
Comment[ku]=Amûrên USB-ê format bikin
Comment[ky]=USB түзмөктөрүн форматтоо
Comment[lb]=Format USB Apparater
Comment[lo]=ຟໍແມັດອຸປະກອນ USB
Comment[lt]=Formatuoti USB įrenginius
Comment[lv]=Formatējiet USB ierīces
Comment[mg]=Format fitaovana USB
Comment[mi]=Whakahōputu pūrere USB
Comment[ml]=USB ഉപകരണങ്ങൾ ഫോർമാറ്റ് ചെയ്യുക
Comment[mn]=USB төхөөрөмжүүдийг форматлах
Comment[ms]=Formatkan peranti USB
Comment[mt]=Apparat tal-USB format
Comment[my]=USB စက်များကို ဖော်မတ်လုပ်ပါ။
Comment[nb]=Formater USB-enheter
Comment[ne]=USB उपकरणहरू ढाँचा गर्नुहोस्
Comment[nl]=Formatteer USB apparaten
Comment[nl_BE]=Formatteer USB apparaten
Comment[ny]=Sinthani zida za USB
Comment[or]=USB ଉପକରଣଗୁଡ଼ିକୁ ଫର୍ମାଟ୍ କରନ୍ତୁ |
Comment[pa]=USB ਡਿਵਾਈਸਾਂ ਨੂੰ ਫਾਰਮੈਟ ਕਰੋ
Comment[pl]=Formatowanie urządzeń USB
Comment[ps]=ﻪڼﺑ ﻮﻠﯾﺎﺳﻭ USB ﺩ
Comment[pt]=Formatar dispositivos USB [formatusb]
Comment[pt_BR]=Formatar Dispositivos USB
Comment[ru]=Форматирование USB накопителей
Comment[rw]=Fata ibikoresho bya USB
Comment[sd]=ﺰﺴﻴﺋﺍﻭڊ USB ٽﻴﻣﺭﺎﻓ
Comment[si]=USB උපාංග ආකෘතිකරණය කරන්න
Comment[sl]=Formatiranje USB pogonov
Comment[sm]=Fausia masini USB
Comment[sn]=Fomati zvigadziriso zve USB
Comment[so]=U qaabeeya aaladaha USB
Comment[st]=Fometa lisebelisoa tsa USB
Comment[su]=Format alat USB
Comment[sv]=Formatera USB-enheter
Comment[sw]=Fomati vifaa vya USB
Comment[ta]=USB சாதனங்களை வடிவமைக்கவும்
Comment[te]=USB పరికరాలను ఫార్మాట్ చేయండి
Comment[tg]=Дастгоҳҳои USB-ро формат кунед
Comment[th]=ฟอร์แมตอุปกรณ์ USB
Comment[tk]=USB enjamlaryny formatlaň
Comment[tr]=USB aygıtlarını biçimlendirin
Comment[tt]=USB җайланмаларын форматлау
Comment[ug]=USB ﯓﻼ﻿ﺗﺎﻣﺭﻮﻓ ﻰﻨﯨﺮﯩﻠﯩﻧﯜﻜﺳﯜﺋ
Comment[ur]=USB ۔ﮟﯾﺮﮐ ﭧﯿﻣﺭﺎﻓ ﻮﮐ ﺕﻻ﻿ﺁ
Comment[uz]=USB qurilmalarini formatlash
Comment[vi]=Định dạng thiết bị USB
Comment[xh]=Ukufomatha izixhobo ze-USB
Comment[yi]=סעסיוועד בסו טאַמראָפֿ
Comment[yo]=Ṣe ọna kika awọn ẹrọ USB
Comment[zh_CN]=格式化 USB 设备
