[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Catfish
Comment=Search the file system
GenericName=Search Files - Catfish

Icon=org.xfce.catfish
Exec=/usr/bin/catfish %f
TryExec=/usr/bin/catfish
Path=
StartupWMClass=catfish

Terminal=false
StartupNotify=false

Categories=chi-tools;
Keywords=files;find;locate;lookup;search;
MimeType=inode/directory;

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Catfish
GenericName[ru]=Поиск Файлов - Catfish
Comment[ar]=البحث في ملفات النظام
Comment[be]=Пошук у файлавай сістэме
Comment[bg]=Търсене във файловата система
Comment[ca]=Cerqueu al sistema de fitxers
Comment[cs]=Hledat v systému souborů
Comment[da]=Søg i filsystemet
Comment[de]=Dateisystem durchsuchen
Comment[el]=Αναζήτηση στο σύστημα αρχείων
Comment[en_AU]=Search the file system
Comment[eo]=Serĉi la dosiersistemon
Comment[es]=Buscar en el sistema de archivos
Comment[et]=Otsi failisüsteemist
Comment[eu]=Fitxategien sisteman bilatu
Comment[fi]=Hae tiedostojärjestelmästä
Comment[fr]=Rechercher dans le système de fichiers
Comment[gl]=Buscar en todo o sistema
Comment[he]=חפש במערכת הקבצים
Comment[hr]=Pretraži datotečni sustav
Comment[hu]=Keresés a fájlrendszerben
Comment[hy_AM]=Որոնել նիշային համակարգում
Comment[hye]=Որոնել նիշային համակարգում
Comment[id]=Cari dalam sistem berkas
Comment[ie]=Serchar li fil-sistema
Comment[is]=Leita í skráakerfi
Comment[it]=Cerca nel file system
Comment[ja]=ファイルシステムを検索
Comment[ko]=파일 시스템 검색
Comment[ku]=bigere li dosiya sîstem
Comment[lt]=Atlikti paiešką failų sistemoje
Comment[lv]=Meklēt datņu sistēmā
Comment[ml]=ഫയല്‍ സിസ്റ്റത്തില്‍ തിരയുക
Comment[ms]=Gelintar sistem fail
Comment[nb]=Søk i filsystemet
Comment[nl]=Doorzoek het bestandssysteem
Comment[nn]=Søk filsystemet
Comment[pl]=Przeszukuje zawartość systemu plików
Comment[pt]=Pesquisar o sistema de ficheiros
Comment[pt_BR]=Pesquisar no sistema de arquivos
Comment[ru]=Поиск по файловой системе
Comment[si]=ලිපි ගොනු පද්ධතිය සෙවීම
Comment[sk]=Vyhľadáva v súborovom systéme
Comment[sl]=Iskanje v datotečnem sistemu
Comment[sq]=Kërko në sistem kartelash
Comment[sr]=Претрага склопа датотека
Comment[sv]=Sök i filsystemet
Comment[th]=ค้นระบบแฟ้ม
Comment[tr]=Dosya sisteminde ara
Comment[uk]=Пошук у файловій системі
Comment[zh_CN]=搜索文件系统
Comment[zh_TW]=搜尋檔案系統
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=ملفات;إيجاد;موضع;مشاهدة;بحث;
Keywords[be]=files;find;locate;lookup;search;
Keywords[bg]=файлове;намиране;локализиране;издирване;търсене;
Keywords[ca]=fitxers;cercar;buscar;recerca;
Keywords[cs]=soubory;najít;nalézt;vyhledat;hledat;prohledat;hledání;vyhledávání;prohledávání;
Keywords[da]=filer;find;opslå;søg;
Keywords[de]=dateien;finden;auffinden;nachschlagen;suchen;
Keywords[el]=αρχεία;εύρεση;τοποθέτηση;lookup;αναζήτηση;
Keywords[en_AU]=files;find;locate;lookup;search;
Keywords[es]=archivos;encontrar;localizar;buscar;búsqueda;
Keywords[et]=files;find;locate;lookup;search;failid;leia;otsi;päring;
Keywords[eu]=fitxategiak;bilatu;aurkitu;bilaketa;araketa;
Keywords[fr]=fichiers;trouver;localiser;rechercher;chercher;
Keywords[gl]=ficheiros;atopar;localizar;consultar;buscar;
Keywords[he]=קבצים;מצא;אתר;חפש;חפש;
Keywords[hr]=datoteke;nađi;traži;potraži;lociraj;
Keywords[hu]=fájlok;keresés;
Keywords[hy_AM]=նիշք;գտնել;բացայայտել;զննել;որոնել;
Keywords[hye]=նիշք;գտնել;բացայայտել;զննել;որոնել;
Keywords[id]=berkas;deteksi;temu;pindai;cari;
Keywords[ie]=files;serchar;trovar;sercha;
Keywords[is]=skrár;finna;staðsetja;fletta upp;leita;
Keywords[it]=file;trova;individua;ricerca;cerca;
Keywords[ja]=files;find;locate;lookup;search;
Keywords[ko]=files;파일;find;찾기;locate;위치;지정;lookup;search;검색;
Keywords[lt]=failai;rasti;ieškoti;paieška;
Keywords[ms]=fail;cari;kenalpasti;carian;gelintar;
Keywords[nb]=filer;finn;lokaliser;slå;opp;søk;
Keywords[nl]=bestanden;zoeken;vinden;opzoeken;doorzoeken;
Keywords[nn]=filer;finn;lokaliser;slå opp;søk;leit;spor opp;
Keywords[pl]=pliki;znajdź;wyszukaj;zlokalizuj;szukaj;
Keywords[pt]=ficheiros;encontrar;localizar;procurar;pesquisar;
Keywords[pt_BR]=arquivos;buscar;localizar;encontrar;pesquisar
Keywords[ru]=files;find;locate;lookup;search;файлы;найти;расположение;искать;поиск;
Keywords[sk]=súbory;nájsť;nájdenie;vyhľadanie;vyhľadať;
Keywords[sl]=datoteke;najdi;lociraj;poišči;isšči;iskanje;
Keywords[sq]=kartela;gjej;lokalizo;kërkim;kërko;
Keywords[sr]=датотека;нађи;тражи;претрага;податак;
Keywords[sv]=files;find;locate;lookup;search;
Keywords[th]=แฟ้ม;ค้น;หา;ค้นหา;
Keywords[tr]=dosyalar;bul;konum;arama;ara;göz atma;gözatma;bakma;
Keywords[uk]=файли;пошук;розташування;знаходження;шукати;
Keywords[zh_CN]=文件;搜寻;定位;查找;搜索;
Keywords[zh_TW]=檔案;尋找;定位;查詢;搜尋;
