[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Godot Engine 3.6
Comment=
GenericName=

Icon=/portsoft/x86_64/godot36/icon_color.png
Exec=/portsoft/x86_64/godot36/Godot_v3.6-stable_x11.64
TryExec=/portsoft/x86_64/godot36/Godot_v3.6-stable_x11.64
Path=/portsoft/x86_64/godot36/
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-dev-ide;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
#Name[ru]=
#GenericName[ru]=
#Comment[ru]=

# - ------------- - #
# - Actions Begin - #

#Actions=Act;

#[Desktop Action Act]
#Name=Acttion Template
#Exec=thunar

# -  Actions End  - #
# - ------------- - #
