[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Chimbalix - "Program Files" Folder (system, portsoft)
Comment=Test Entry
GenericName=

Icon=folder-deeporange-applications
Exec=thunar "/portsoft/"
TryExec=thunar
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-other;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
