[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=File System Info - DF (CLI)
Comment=
GenericName=DF

Icon=utilities-x-terminal
Exec=bash -c "echo \"Disks info (df -h -T):\";df -h -T;echo \"Press any key to exit\";read -rn1"
TryExec=
Path=
#StartupWMClass=

Terminal=true
StartupNotify=false

Categories=chi-admin;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Информация о Файловой Системе - DF (CLI)
