[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Task Manager - System Monitoring Center
Comment=Multi-featured system monitor
GenericName=System Monitoring Center

Icon=io.github.hakandundar34coding.system-monitoring-center
Exec=system-monitoring-center
TryExec=system-monitoring-center
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-admin;
Keywords=System Monitor;Task Manager;Performance;CPU;RAM;Swap;Memory;Disk;Network;GPU;Processes;Users;Services;
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Диспетчер Задач - System Monitoring Center
Comment[cs]=Multifunkční systémový monitor
Comment[de]=Multifunktioneller Systemmonitor
Comment[es]=Monitor del sistema con múltiples funciones
Comment[fr]=Moniteur système multi-fonctions
Comment[hu]=Többcélú rendszerfigyelő
Comment[pl]=Wielofunkcyjny monitor systemu
Comment[pt_BR]=Monitor de Sistema com vários recursos
Comment[pt_PT]=Monitor de sistema multi-recursos
Comment[ru_RU]=Многофункциональный системный монитор
Comment[tr]=Çok özellikli sistem gözlemcisi
Comment[zh_CN]=多功能系统监视器
Comment[zh_TW]=多功能系統監控中心
Keywords[de]=Systemmonitor;Taskmanager;leistung;cpu;ram;swap;speicher;festplatte;netzwerk;gpu;prozesse;benutzer;dienste;
Keywords[es]=monitor del sistema;gestor de tareas;desempeño;cpu;ram;swap;disco;red;gpu;procesos;usuarios;servicios;
Keywords[fr]=moniteur système;gestionnaire de tâches;performance;cpu;ram;swap;mémoire;disque;réseau;gpuprocessus;utilisateurs;services;
Keywords[hu]=rendszerfigyelő;feladatkezelő;teljesítmény;cpu;ram;cserehely;memória;lemez;gpu;hálózat;folyamatok;felhasználók;szolgáltatások;
Keywords[pt_BR]=Monitor de Sistema;Gerenciador de Tarefas;Desempenho;CPU;RAM;Swap;Memória;Disco;Rede;GPU;Processos;Usuários;Serviços;
Keywords[pt_PT]=Monitor do sistema;Gestor de tarefas;Desempenho;CPU;RAM;Memória;Disco;Rede;GPU;Processos;Utilizadores;Serviços;
Keywords[ru_RU]=Системный Монитор;Менеджер Задач;Производительность;CPU;ЦП;RAM;ОЗУ;Подкачка;Память;Диск;Сеть;ГПУ;Процессы;Пользователи;Сервисы;
Keywords[tr]=Sistem Gözlemcisi;Görev Yöneticisi;Performans;MİB;RAM;Takas;Bellek;Disk;Ağ;GPU;İşlemler;Kullanıcılar;Servisler;
Keywords[zh_CN]=系统监视器;任务管理器;性能;CPU;RAM;交换;内存;磁盘;网络;显卡;进程;用户;服务;
Keywords[zh_TW]=系統監控；任務管理；效能；CPU；RAM；SWAP；記憶體；硬碟；網路；GPU；程序；使用者；服務；
