[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Task Manager - Xfce
Comment=Easy to use application to monitor system resources
GenericName=Xfce4 Task Manager

Icon=org.xfce.taskmanager
Exec=xfce4-taskmanager
TryExec=xfce4-taskmanager
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-admin;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Диспетчер задач - Xfce
Comment[az]=Sistem qaynaqlarını izləmək üçün asan işlənişli uyğulama
Comment[be]=Простая праграма для назірання за выкарыстаннем сістэмных рэсурсаў
Comment[bg]=Лесна за ползване програма за наблюдение на системните ресурси
Comment[ca]=Una aplicació fàcil d’utilitzar per monitorar els recursos del sistema
Comment[cs]=Snadno použitelná aplikace k monitorování systémových zdrojů
Comment[da]=Letanvendeligt program til at overvåge systemressourcer
Comment[de]=Einfach zu bedienende Anwendung zur Überwachung von Systemressourcen
Comment[el]=Εύκολη στη χρήση εφαρμογή για παρακολούθηση των πόρων του συστήματος 
Comment[es]=Una aplicación fácil de usar para monitorear los recursos del sistema
Comment[et]=Lihtsaltkasutatav rakendus süsteemi jõudluse jälgimiseks
Comment[eu]=Sistemaren baliabideak monitorizatzeko aplikazio erabilerraz bat
Comment[fa_IR]=برنامه‌ای آسان در استفاده جهت نظارت بر منابع سیستم
Comment[fi]=Helppokäyttöinen sovellus järjestelmän resurssien tarkkailuun
Comment[fr]=Application simple d’utilisation pour surveiller les ressources du système
Comment[gl]=Aplicación fácil de usar para monitorizar os recursos do sistema
Comment[he]=יישום פשוט למעקב אחר משאבי המערכת
Comment[hr]=Laka za korištenje aplikacija za nadzor resursa sustava
Comment[hye]=Հեշտ աւգտագործման ծրագիր՝ համակարգի պաշարները վերահսկելու համար
Comment[id]=Aplikasi untuk memonitor sumber daya sistem yang mudah digunakan
Comment[it]=Un'applicazione per controllare le risorse del sistema facile da usare
Comment[ja]=システムリソースを監視するための使いやすいアプリケーション
Comment[kk]=Жүйелік ресурстарды бақылауға арналған, пайдалануға оңай қосымша
Comment[ko]=시스템 자원 감시에 용이한 프로그램
Comment[lt]=Lengva naudoti programa, skirta stebėti sistemos išteklius
Comment[ms]=Aplikasi mudah yang digunakan untuk memantau sumber sistem
Comment[nb]=Et enkelt å bruke program som overvåker systemressurser
Comment[nl]=Gemakkelijk te gebruiken toepassing om systeembelasting te bewaken
Comment[pl]=Łatwa w użyciu aplikacja do monitorowania zasobów systemowych
Comment[pt]=Aplicação fácil de usar para monitorizar os recursos do sistema
Comment[pt_BR]=Aplicativo fácil de usar para monitorar os recursos do sistema
Comment[ru]=Простое в использовании приложение для мониторинга системных ресурсов
Comment[sk]=Aplikácia s jednoduchým používaním na sledovanie systémových prostriedkov
Comment[sq]=Aplikacion për mbikëqyrje burimesh sistemi, i lehtë për t’u përdorur
Comment[sr]=Програм за надгледање система лак за употребу
Comment[sv]=Lättanvänd applikation för att övervaka systemets resurser
Comment[th]=แอปพลิเคชันสะดวกใช้สำหรับเฝ้าสังเกตทรัพยากรระบบ
Comment[tr]=Sistem kaynaklarını izlemek için kullanımı kolay uygulama
Comment[uk]=Додаток легко використовувати для відслідковування системних ресурсів
Comment[zh_CN]=用来监视系统资源的易用程序
Comment[zh_TW]=易於使用的系統資源監視程式
