[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Wine - Open User folder
Comment=
GenericName=

Icon=user-red-home
Exec=thunar ".wine/drive_c/users/steamuser/"
TryExec=wine
Path=~
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-wine;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Wine - Открыть каталог Пользователя
