[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Wine - Notepad
Comment=
GenericName=

Icon=wine-notepad
Exec=notepad
TryExec=notepad
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-wine;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Wine - Блокнот
