[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=- Welcome Screen
Comment=LightDM GTK+ Greeter settings
GenericName=

Icon=lightdm-gtk-greeter-settings
Exec=lightdm-gtk-greeter-settings-pkexec
TryExec=lightdm-gtk-greeter-settings-pkexec
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chixset-themes;
#Keywords=
#MimeType=

X-XfcePluggable=true

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=- Экран Приветствия
Comment[ru]=LightDM GTK+ Greeter settings
