[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=- Desktop
Comment=Set desktop background and menu and icon behavior
GenericName=

Icon=org.xfce.xfdesktop
Exec=xfdesktop-settings
TryExec=xfdesktop-settings
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chixset-themes;
#Keywords=
#MimeType=

X-XfcePluggable=true
X-XfceHelpComponent=xfdesktop
X-XfceHelpPage=start
X-XfceHelpVersion=4.18

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=- Рабочий Стол
Comment[am]=የ ዴስክቶፕ መደብ እና ዝርዝር እና ምልት ባህሪ ማሰናጃ
Comment[ar]=حدد خلفية سطح المكتب و سلوك القائمة والأيقونات
Comment[ast]=Afita'l comportamientu del fondu d'escritoriu y menú ya iconos
Comment[az]=İş qoyağı arxalığını, seçməni, imgə davranışını ayarlayın
Comment[be]=Наладка фону працоўнага стала, меню і значкоў
Comment[be@tarask]=Усталяваць фон Стальніцы, мэню й паводзіны выяваў
Comment[bg]=Задаване на фон, менюта и поведение на иконите
Comment[ca]=Establiu el fons de l'escriptori i el comportament dels menús i de les icones
Comment[cs]=Nastavení pozadí pracovní plochy a nabídky a chování ikon
Comment[da]=Indstil skrivebordsbaggrund, og opførsel for menuer og ikoner
Comment[de]=Den Hintergrund des Schreibtischs sowie das Menü- und Symbolverhalten einstellen
Comment[el]=Ρύθμιση φόντου και συμπεριφοράς μενού και εικονιδίων
Comment[en_AU]=Set desktop background and menu and icon behaviour
Comment[en_CA]=Set desktop background and menu and icon behaviour
Comment[en_GB]=Set desktop background and menu and icon behaviour
Comment[es]=Configure el fondo del escritorio y el comportamiento del menú y de los iconos
Comment[et]=Määra töölaua taust ning menüüde ja ikoonide käitumine
Comment[eu]=Ezarri mahaigaineko atzeko planoa, menua eta ikonoaren portaera
Comment[fa_IR]=تنظیم رفتار پس‌زمینه و فهرست و نقشک میزکار
Comment[fi]=Säädä työpöydän taustakuvaa, valikkoa ja kuvakkeita
Comment[fr]=Définir le fond d’écran du bureau, le comportement du menu et des icônes
Comment[gl]=Definir o fondo do escritorio e o comportamento do menú e das iconas
Comment[he]=הגדר התנהגות רקע, תפריט וסמלי שולחן עבודה
Comment[hr]=Postavi ponašanje pozadine radne površine i izbornika i ikona 
Comment[hu]=Az asztalháttér, valamint a menü- és ikonviselkedés beállítása
Comment[hy_AM]=Սահմանել աշխատասեղանի յետնաշերտի, ցանկի եւ պատկերակի վարքագիծը
Comment[hye]=Սահմանել աշխատասեղանի յետնաշերտի, ցանկի եւ պատկերակի վարքագիծը
Comment[id]=Atur latar belakang destop, perilaku ikon, serta menu
Comment[ie]=Selection de funde del Pupitre e de conduida de menú e icones
Comment[is]=Setja skjámynd, valmynd og hegðun tákna
Comment[it]=Impostazione dello sfondo della scrivania, del menu e del comportamento delle icone
Comment[ja]=デスクトップの背景およびメニューとアイコンの振る舞いを設定します
Comment[ka]=გაასწორეთ სამუშაო მაგიდის ფონი, მენიუ და ხატულას ქცევა
Comment[kk]=Жұмыс үстел суреті, мәзір мен таңбашалардың әрекеттерін баптау
Comment[ko]=데스크톱 배경, 메뉴, 아이콘 동작을 설정합니다
Comment[lt]=Nustatyti darbalaukio fono, meniu ir piktogramų elgseną
Comment[lv]=Uzstādīt darbvirsmas fonu un izvēlni, un ikonas uzvedību
Comment[ms]=Tetapkan latarbelakang desktop dan menu dan kelakuan ikon
Comment[nb]=Sett bakgrunnsbilde og innstillinger for menyen og ikoner
Comment[nl]=Stel het gedrag in van de bureaubladachtergrond, het menu en de pictogrammen
Comment[nn]=Set bakgrunnsbiletet og åtferda åt menyar og ikon
Comment[oc]=Reglar lo fons d'ecran del burèu, lo menú e lo comportament de las icònas
Comment[pl]=Konfiguruje tło pulpitu oraz ustawienia menu i ikon
Comment[pt]=Definir fundo da área de trabalho e comportamento do menu e ícones
Comment[pt_BR]=Define a imagem de fundo da área de trabalho e o comportamento do menu e ícones
Comment[ro]=Schimbați fundalul desktopului și funcționalitatea sa
Comment[ru]=Задание фона рабочего стола и изменение настроек меню и значков
Comment[sk]=Nastavenie pozadia pracovnej plochy a ponuky a správania ikon
Comment[sl]=Nastavite ozadje namizja in obnašanje menijev in ikon
Comment[sq]=Caktoni sfond desktopi dhe sjellje menush dhe ikonash
Comment[sr]=Подеси позадину површи и понашање изборника и сличица
Comment[sv]=Ange skrivbordsbakgrund samt meny- och ikonbeteende
Comment[th]=กำหนดพื้นหลังพื้นโต๊ะและพฤติกรรมของเมนูและไอคอน
Comment[tr]=Masaüstü arkaplan ve simge seti davranışını ayarla
Comment[ug]=ئۈستەلئۈستى تەگلىكى، تىزىملىك ۋە سىنبەلگە مەشغۇلاتىنى بەلگىلەش
Comment[uk]=Призначити фонове зображення стільниці, меню і значок заголовку
Comment[ur]=ڈیسک ٹاپ کا پس منظر، مینیو اور آئکن سلوک متعین کریں
Comment[ur_PK]=ڈیسک ٹاپ کا پس منظر، مینیو اور آئکن سلوک متعین کریں
Comment[zh_CN]=设置桌面背景、菜单和图标行为
Comment[zh_HK]=設定桌面背景、選單與圖示行為
Comment[zh_TW]=設定桌面背景、選單、圖示行為
