[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Example Category Entry
Comment=
GenericName=

Icon=folder-yaru-applications
Exec=thunar ".local/share/applications/apps/Example/"
TryExec=
Path=~/
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=Example_Category;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
#Name[ru]=
#Comment[ru]=
#GenericName[ru]=
