[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Example Menu Entry
Comment=
GenericName=

Icon=folder-yaru-templates
Exec=thunar ".config/menus/applications-merged/"
TryExec=
Path=~/
#StartupWMClass=

Terminal=false
StartupNotify=false

#Categories=
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
#Name[ru]=
#Comment[ru]=
#GenericName[ru]=
