[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
TryExec=/portsoft/script/chimbalix-scripts/context-menu/sendto/cl-desktop-launcher.sh
Exec=/portsoft/script/chimbalix-scripts/context-menu/sendto/cl-desktop-launcher.sh %F
Icon=/portsoft/script/chimbalix-scripts/context-menu/sendto/cl-desktop-launcher-template-icon.png
Name=Desktop (Create Launcher)
MimeType=application/x-executable;application/x-shellscript

Name[ru]=Рабочий Стол (Создать Лаунчер)
