[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=- Partition Editor (GParted)
Comment=Create, reorganize, and delete partitions
GenericName=

Icon=gparted
Exec=terminal -e "sudo /usr/sbin/gparted %f"
TryExec=/usr/sbin/gparted
Path=
#StartupWMClass=

Terminal=false
StartupNotify=true

Categories=chixset-hdd;
Keywords=Partition;
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=- Редактор Разделов (GParted)
Comment[ar]=أنشئ الأقسام ونظّمها واحذفها
Comment[be]=Стварыць, пераразмеркаваць альбо выдаліць раздзелы
Comment[bg]=Създаване, подреждане и изтриване на дялове
Comment[br]=Krouiñ, adaozañ ha dilemel ar parzhadoù
Comment[bs]=Kreiranje, reorganiziranje i brisanje particija
Comment[ca]=Creeu, reorganitzeu i suprimiu particions
Comment[ca@valencia]=Creeu, reorganitzeu i suprimiu particions
Comment[cs]=Vytvářejte, přeuspořádávejte a odstraňujte diskové oddíly
Comment[da]=Opret, omorganisér og slet partitioner
Comment[de]=Partitionen erzeugen, reorganisieren und löschen
Comment[el]=Δημιουργία, επεξεργασία και διαγραφή κατατμήσεων
Comment[en_CA]=Create, reorganise, and delete partitions
Comment[en_GB]=Create, reorganise, and delete partitions
Comment[eo]=Krei, reorganizi, kaj forigi subdiskojn
Comment[es]=Cree, reorganice y elimine particiones
Comment[et]=Partitsioonide loomine, muutmine ja kustutamine
Comment[eu]=Sortu, berrantolatu eta ezabatu partizioak
Comment[fa]=ساخت، بازسازی و حذف پارتیشن‌ها
Comment[fi]=Luo, järjestele ja poista osioita
Comment[fr]=Crée, réorganise et supprime des partitions
Comment[fur]=Cree, torne a organizâ e elimine lis partizions
Comment[gd]=Cruthaich no sguab pàirteachaidhean às no cuir rian ùr orra
Comment[gl]=Crear, reorganizar e eliminar particións
Comment[he]=יצירה, ארגון מחדש ומחיקה של מחיצות
Comment[hr]=Stvori, preuredi, i obriši particije
Comment[hu]=Partíciók létrehozása, újraszervezése és törlése
Comment[id]=Membuat, mengorganisasi ulang, serta menghapus partisi
Comment[is]=Búa til, raða og eyða disksneiðum
Comment[it]=Crea, riorganizza ed elimina partizioni
Comment[ja]=パーティションを作成／再構成／削除する
Comment[kk]=Бөлімдерді жасау, басқару және өшіру
Comment[ko]=분할 영역을 만들고, 재배치하고, 삭제합니다
Comment[lt]=Kurkite, pertvarkykite ir trinkite skaidinius
Comment[lv]=Veido, pārkārto un dzēš disku nodalījumus
Comment[ml]=പാര്‍ട്ടിഷനുകള്‍ നിര്‍മ്മിക്കുകയും, അടുക്കിവയ്ക്കുകയും, കളയുകയും ചെയ്യുക
Comment[nb]=Lag, omorganiser og slett partisjoner
Comment[nl]=Partities aanmaken, ordenen en verwijderen
Comment[nn]=Lag, omorganiser og slett partisjonar
Comment[oc]=Crèa, reorganiza e suprimís de particions
Comment[pa]=ਪਾਰਟੀਸ਼ਨ ਬਣਾਓ, ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਹਟਾਓ
Comment[pl]=Tworzenie, reorganizacja i usuwanie partycji
Comment[pt]=Criar, reorganizar e eliminar partições
Comment[pt_BR]=Crie, reorganize e exclua partições
Comment[ro]=Creează, reorganizează și șterge partiții
Comment[ru]=Создание, перераспределение и удаление разделов
Comment[sk]=Vytvára, reorganizuje a odstraňuje diskové oddiely
Comment[sl]=Ustvarjanje, urejanje in brisanje razdelkov
Comment[sr]=Стварајте, реорганизујте и бришите партиције
Comment[sr@latin]=Stvarajte, reorganizujte i brišite particije
Comment[sv]=Skapa, organisera om och ta bort partitioner
Comment[te]=విభజనలను సృష్టించు, పునర్వ్యవస్థీకరించు, మరియు తొలగించు
Comment[th]=สร้าง ปรับโครงสร้าง และลบพาร์ทิชัน
Comment[tr]=Bölümler oluştur, yeniden düzenle ve sil
Comment[uk]=Створення, переміщення або вилучення розділів
Comment[vi]=Tạo, tổ chức lại và xóa bỏ phân vùng
Comment[zh_CN]=创建、重新组织或删除分区
Comment[zh_HK]=建立、編輯或刪除分割區
Comment[zh_TW]=建立、編輯或刪除分割區
Keywords[ar]=قسم;
Keywords[be]=Раздзел;
Keywords[bs]=particija;
Keywords[ca]=Partició;
Keywords[cs]=oddíl;disk;
Keywords[da]=Partition;
Keywords[de]=Partition;
Keywords[el]=Κατάτμηση;Partition;
Keywords[en_GB]=Partition;
Keywords[eo]=Subdisko;
Keywords[es]=Partición;
Keywords[eu]=Partizioa;
Keywords[fi]=Osio;
Keywords[fr]=Partition;
Keywords[fur]=Partizion;
Keywords[gd]=Partition;Pàirteachadh;Pàirtich;
Keywords[gl]=Partición;
Keywords[hr]=Particija;
Keywords[hu]=Partíció;
Keywords[id]=Partisi;
Keywords[is]=Disksneið;
Keywords[it]=Partizione;
Keywords[kk]=Бөлім;
Keywords[ko]=Partition;파티션;분할;영역;
Keywords[lt]=Skaidinys;
Keywords[lv]=Nodalījums;
Keywords[nb]=Partisjon;
Keywords[nl]=Partition;Partitie;
Keywords[oc]=Particion ;
Keywords[pa]=ਪਾਰਟੀਸ਼ਨ;
Keywords[pl]=Partycja;Partycje;Patrycja;Patrycje;Partycjonowanie;Patrycjonowanie;Dyski;twarde;twardy;HDD;SSD;Systemy;plików;Woluminy;Wolumeny;Napędy;
Keywords[pt]=Partição;
Keywords[pt_BR]=Partição;Partition;
Keywords[ro]=Partiție;
Keywords[ru]=Раздел;
Keywords[sk]=Oddiel;
Keywords[sl]=Razdelek;
Keywords[sr]=партиција;
Keywords[sr@latin]=particija;
Keywords[sv]=Partition;
Keywords[th]=พาร์ทิชัน;
Keywords[tr]=Bölüm;
Keywords[uk]=Розділ;
Keywords[vi]=Partition;Phân vùng;Phan vung;
Keywords[zh_CN]=Partition;分区;
Keywords[zh_TW]=分割區;
