[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Bless
Comment=Edit binary files
GenericName=HEX Editor - Bless

Icon=bless
Exec=bless %F
TryExec=bless
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-edit-text;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Bless
GenericName[ru]=HEX Редактор - Bless
