[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=TEMPLATE_NAME
Comment="TEMPLATE_PATH_TO_EXE"
GenericName=

Icon=TEMPLATE_ICON
Exec="TEMPLATE_PATH_TO_EXE"
TryExec=
Path=TEMPLATE_WORK_DIR
#StartupWMClass=

Terminal=TEMPLATE_MODE_TERMINAL
StartupNotify=false

Categories=
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
#Name[ru]=
#GenericName[ru]=
#Comment[ru]=

# - ------------- - #
# - Actions Begin - #

#Actions=Act;

#[Desktop Action Act]
#Name=Acttion Template
#Exec=thunar

# -  Actions End  - #
# - ------------- - #
