[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Magnus
Comment=A very simple screen magnifier
GenericName=Screen Magnifier - Magnus

Icon=gnome-logs
Exec=magnus
TryExec=magnus
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-accessories;
Keywords=magnifier;accessibility;utility;
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Magnus
GenericName[ru]=Экранная Лупа - Magnus

