[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=Calendar - Osmo
Comment=Personal Organizer
GenericName=Calendar - Osmo

Icon=osmo
Exec=osmo
TryExec=osmo
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chi-accessories;
Keywords=calendar;office;pim;contacts;management;schedule;notes;organizer;
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=Календарь - Osmo
GenericName[ru]=Календарь - Osmo
Comment[fr]=Agenda Personnel
Comment[pl]=Organizer osobisty
Comment[tr]=Kişisel Düzenleyici
Comment[de]=Persönlicher Zeitplaner
