[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=- Equalizer (JamesDSP)
Comment=Equalizer and sound effects
GenericName=

Icon=jamesdsp128
Exec=/usr/bin/jamesdsp
TryExec=/usr/bin/jamesdsp
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chixset-audio;
Keywords=equalizer;audio;effect
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=- Эквалайзер (JamesDSP)
Comment[ru]=Эквалайзер и звуковые эффекты
