[Desktop Entry]
# -= APPLICATION =- #
Type=Application
Version=1.1
Encoding=UTF-8
#OnlyShowIn=
#NotShowIn=
NoDisplay=false
Hidden=false

Name=- Volume Control (AlsaMixer, CLI)
Comment=ALSA Audio (Command Line Interface)
GenericName=

Icon=multimedia-volume-control
Exec=x-terminal-emulator -e alsamixer
TryExec=x-terminal-emulator
Path=
#StartupWMClass=

Terminal=false
StartupNotify=false

Categories=chixset-audio;
#Keywords=
#MimeType=

# - Translations:
# FOR TRANSLATORS! Please! Do not translate the app NAME, such as "FeatherPad".
Name[ru]=- Регулятор Громкости (AlsaMixer, CLI)
